body {
  background: #337ab7;
}
.container-fluid {
  text-align: center;
}
.form-inline {
  padding: 0px;
  text-align: center;
  margin: auto;
  width: 250px;
  position: relative;
}
.form-control {
  width: 180px;
  display: inline;
}

li {
  list-style-type: none;
}
li:hover {
  background-color: #a39d9d;
  border-bottom: 0.2px solid black;
}

ul {
  margin: 0px;
  background-color: white;
  position: absolute;
  border-radius: 4px;
  line-height: 1.3em;
  padding: 0px;
  width: 100%;
  text-align: center;
}
.refsDiv {
  margin: 25px 50px;
  font-family: verdana;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  color: black;
}
a:hover {
  color: black;
  text-decoration: underline;
}

