body {
  background: #448dcc;
}
.container-fluid {
  text-align: center;
}
.form-inline {
  padding: 0px;
  text-align: center;
  margin: auto;
  width: 250px;
  position: relative;
}
.form-control {
  width: 180px;
  display: inline;
}

ul {
  margin: 0px;
  background-color: white;
  position: absolute;
  border-radius: 4px;
  line-height: 1.3em;
  padding: 0px;
  width: 100%;
  text-align: center;
}


a {
  color: black;
}
a:hover {
  color: black;
  text-decoration: underline;
}

